[Unit]
Description=Kanata key remapping daemon
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg /etc/kanata/config.kbd

[Install]
WantedBy=multi-user.target
# WantedBy=sysinit.target
