[Unit]
Description=Kanata key remapping daemon
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg /etc/kanata/config.kbd
Restart=no

[Install]
WantedBy=sysinit.target
#WantedBy=multi-user.target
