/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #3c6071 !important;
  --toolbarbutton-icon-fill: #a7cce0 !important;
  --toolbar-field-color: #e2e2e3 !important;
  --tab-selected-textcolor: #a7cce0 !important;
  --toolbar-color: #e2e2e3 !important;
  --arrowpanel-color: #e2e2e3 !important;
  --arrowpanel-background: #1e2021 !important;
  --sidebar-text-color: #e2e2e3 !important;
  --zen-main-browser-background: #121415 !important;
}

.sidebar-placesTree {
  background-color: #1e2021 !important;
}

#zen-workspaces-button {
  background-color: #1e2021 !important;
}

#TabsToolbar {
  background-color: #121415 !important;
}

.urlbar-background {
  background-color: #1e2021 !important;
}

.urlbar-input::selection {
  color: #0b3544 !important;
  background-color: #a7cce0 !important;
}

.urlbarView-url {
  color: #c1c7cc !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #a7cce0
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #c1e3f6 !important;
  --identity-icon-color: #c1e3f6 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #a7cce0 !important;
  --identity-icon-color: #a7cce0 !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb0 !important;
  --identity-icon-color: #a5ffb0 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fff9a5 !important;
  --identity-icon-color: #fff9a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff672 !important;
  --identity-icon-color: #fff672 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fbd !important;
  --identity-icon-color: #ff9fbd !important;
}

.identity-color-pink {
  --identity-tab-color: #d1efff !important;
  --identity-icon-color: #d1efff !important;
}

.identity-color-purple {
  --identity-tab-color: #375667 !important;
  --identity-icon-color: #375667 !important;
}

#zen-appcontent-navbar-container {
  background-color: #121415 !important;
}
