/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #1160da !important;
  --toolbarbutton-icon-fill: #b1c6ff !important;
  --toolbar-field-color: #e1e2ec !important;
  --tab-selected-textcolor: #b1c6ff !important;
  --toolbar-color: #e1e2ec !important;
  --arrowpanel-color: #e1e2ec !important;
  --arrowpanel-background: #1d1f27 !important;
  --sidebar-text-color: #e1e2ec !important;
  --zen-main-browser-background: #11131a !important;
}

.sidebar-placesTree {
  background-color: #1d1f27 !important;
}

#zen-workspaces-button {
  background-color: #1d1f27 !important;
}

#TabsToolbar {
  background-color: #11131a !important;
}

.urlbar-background {
  background-color: #1d1f27 !important;
}

.urlbar-input::selection {
  color: #002c70 !important;
  background-color: #b1c6ff !important;
}

.urlbarView-url {
  color: #c2c6d6 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #b1c6ff
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #bcceff !important;
  --identity-icon-color: #bcceff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #b1c6ff !important;
  --identity-icon-color: #b1c6ff !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb3 !important;
  --identity-icon-color: #a5ffb3 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fffba5 !important;
  --identity-icon-color: #fffba5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff872 !important;
  --identity-icon-color: #fff872 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb9 !important;
  --identity-icon-color: #ff9fb9 !important;
}

.identity-color-pink {
  --identity-tab-color: #c8d7ff !important;
  --identity-icon-color: #c8d7ff !important;
}

.identity-color-purple {
  --identity-tab-color: #334576 !important;
  --identity-icon-color: #334576 !important;
}

#zen-appcontent-navbar-container {
  background-color: #11131a !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #b1c6ff !important;
  color: #b1c6ff !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #b1c6ff !important;
  color: #b1c6ff !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #b1c6ff !important;
}
