environment {
    XDG_MENU_PREFIX "arch-"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "niri"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_QPA_PLATFORM "wayland;xcb"
    GDK_SCALE "1"
    // GDK_BACKEND "wayland,x11,*"
    GTK_USE_PORTAL "0"
}
