layout {

    focus-ring {
        active-color   "#95ccff"
        inactive-color "#121416"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#95ccff"
        inactive-color "#121416"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#95ccff"
        inactive-color "#004a75"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#95ccff80"
    }
}

recent-windows {
    highlight {
        active-color "#95ccff"
        urgent-color "#ffb4ab"
    }
}
