// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
// spawn-at-startup "waybar"
spawn-at-startup "swayidle"

spawn-sh-at-startup "/home/kami-sama/.local/bin/nightmode"
spawn-sh-at-startup "/home/kami-sama/.config/scripts/battery_saver_simpler.sh"
spawn-sh-at-startup "wl-paste --watch cliphist store"
// spawn-sh-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'catppuccin-mocha-blue-standard+default' "
// spawn-sh-at-startup "sleep 5 && gsettings set org.gnome.desktop.interface gtk-theme 'catppuccin-mocha-blue-standard+default' "


// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
